@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #012E40, #024959);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #01262e8c;
}

h1{
    text-align: center;
    color: #026773;
    text-shadow: 1px 1px 2px #023f469c;
}

h2{
    color: #3CA6A6;
}

p{
    text-align: justify;
}

